/* цвет основного текста #757575 */
/* вторичный цвет текста #212121 */
/* акцент #2196F3  */
/* черный цвет заголовка #000000 */
/* белый цвет #FFFFFF */
/* прозрачный белый цвет rgba(255, 255, 255, 0,6) */
/* основной цвет фона #E5E5E5 */
/* вторичный цвет фона #F5F4FA */

.list {
  list-style: none;
}

body {
  color: #757575;
  background-color: #e5e5e5;
}

/* cстилизация логотипа */

.logo {
  color: #000000;
  font-family: Raleway;
}
.logo .color {
  color: #2196f3;
}

.site-nav .link:hover {
  color: red;
}
