/* цвет основного текста #757575 */
/* вторичный цвет текста #212121 */
/* акцент #2196F3  */
/* черный цвет заголовка #000000 */
/* белый цвет #FFFFFF */
/* прозрачный белый цвет rgba(255, 255, 255, 0.6)) */
/* основной цвет фона #ffffff */
/* вторичный цвет фона #F5F4FA */
:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --secondary-accent-color: #f5f4fa;
  --primary-white-color: #ffffff;
  --primary-white-color-60: rgba(255, 255, 255, 0.6);
  --footer-bg-color: #2f303a;
  --temporary-bg-color: #2f303a;
}

.list {
  list-style: none;
}

body {
  color: var(--primary-text-color);
  background-color: var(--primary-white-color));
  font-family:Roboto;
}

/* cстилизация логотипа */
.logo {
  color: #000000;
  font-family: Raleway;
}
.logo .color {
  color: var(--accent-color);
}

/* стилизация навигации */
.site-nav .link {
  color: var(--title-text-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-contact  {
  color: var(--primary-text-color);
}

.site-contact:hover,
.site-contact:focus {
  color: var(--accent-color);
}

/* стилизация Hero */
.hero-title {
  color: var(--primary-white-color);
}

/* общая стилизация секции */
.section-title,
.section .title {
  color: var(--title-text-color);
}

/* button */
.button {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

.button.primary {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

.button.secondary {
  color: var(--title-text-color;)
  background-color: var(--secondary-accent);
}

/* footer */
.footer-addres {
  color: var(--primary-white-color);
}
.footer-contact {
  color: var(--primary-white-color-60);
}
